USE [master]
GO
/****** Object:  Database [StudentHealthCentre] ******/
CREATE DATABASE [StudentHealthCentre]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentHealthCentre].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentHealthCentre]
GO
/****** Object:  Table [dbo].[Appointment] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[Time] [time](4) NOT NULL,
	[BookingDateTime] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
	[PatientFk] [int] NOT NULL,
 CONSTRAINT [PK_Appointment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GP] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GP](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Surname] [nvarchar](30) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_GP] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Patient] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NhsNumber] [nvarchar](12) NOT NULL,
	[Name] [nvarchar](30) NULL,
	[Surname] [nvarchar](30) NULL,
	[DateOfBirth] [date] NULL,
	[Address] [nvarchar](100) NULL,
	[Telephone] [nvarchar](11) NULL,
	[Status] [bit] NOT NULL,
	[GPFk] [int] NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Appointment] ON 

INSERT [dbo].[Appointment] ([Id], [Date], [Time], [BookingDateTime], [Status], [PatientFk]) VALUES (1, CAST(N'2015-11-23' AS Date), CAST(N'10:15:00' AS Time), CAST(N'2015-11-16 20:30:08.000' AS DateTime), 1, 3)
INSERT [dbo].[Appointment] ([Id], [Date], [Time], [BookingDateTime], [Status], [PatientFk]) VALUES (2, CAST(N'2015-11-24' AS Date), CAST(N'09:30:00' AS Time), CAST(N'2015-11-16 20:02:01.000' AS DateTime), 1, 4)
INSERT [dbo].[Appointment] ([Id], [Date], [Time], [BookingDateTime], [Status], [PatientFk]) VALUES (3, CAST(N'2015-11-24' AS Date), CAST(N'12:15:00' AS Time), CAST(N'2015-11-17 10:03:12.000' AS DateTime), 1, 5)
SET IDENTITY_INSERT [dbo].[Appointment] OFF
SET IDENTITY_INSERT [dbo].[GP] ON 

INSERT [dbo].[GP] ([Id], [Name], [Surname], [Status]) VALUES (1, N'Henry', N'Colbert', 0)
INSERT [dbo].[GP] ([Id], [Name], [Surname], [Status]) VALUES (2, N'Rebecca', N'Jones', 1)
INSERT [dbo].[GP] ([Id], [Name], [Surname], [Status]) VALUES (3, N'Benjamin', N'Cole', 1)
SET IDENTITY_INSERT [dbo].[GP] OFF
SET IDENTITY_INSERT [dbo].[Patient] ON 

INSERT [dbo].[Patient] ([Id], [NhsNumber], [Name], [Surname], [DateOfBirth], [Address], [Telephone], [Status], [GPFk]) VALUES (1, N'000-000-0000', N'Administrator', NULL, CAST(N'1991-01-01' AS Date), NULL, NULL, 1, 1)
INSERT [dbo].[Patient] ([Id], [NhsNumber], [Name], [Surname], [DateOfBirth], [Address], [Telephone], [Status], [GPFk]) VALUES (2, N'111-222-3333', N'Maria', N'Diaz', CAST(N'1991-01-01' AS Date), N' 100 Oxford Street,
 Marylebone
, London, W1D 1LA', N'07700100350', 1, 1)
INSERT [dbo].[Patient] ([Id], [NhsNumber], [Name], [Surname], [DateOfBirth], [Address], [Telephone], [Status], [GPFk]) VALUES (3, N'078-392-121', N'Jessica', N'Evans', CAST(N'1993-07-14' AS Date), N' 50 Oxford Street, Marylebone , London, W1D 1LA ', N'07750912764', 1, 2)
SET IDENTITY_INSERT [dbo].[Patient] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_NhsNumber] ******/
ALTER TABLE [dbo].[Patient] ADD  CONSTRAINT [IX_NhsNumber] UNIQUE NONCLUSTERED 
(
	[NhsNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Patient] FOREIGN KEY([PatientFk])
REFERENCES [dbo].[Patient] ([Id])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_Patient]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [FK_Patient_GP] FOREIGN KEY([GPFk])
REFERENCES [dbo].[GP] ([Id])
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [FK_Patient_GP]
GO
USE [master]
GO
