<?xml version="1.0"?>

<configuration>
  
  <connectionStrings>
    <add name="StudentHealthCentreConnectionString" connectionString="Data Source=MARIA-PC\SQLEXPRESS;Initial Catalog=StudentHealthCentre;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.6">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>

  <authentication mode="Forms">
    <forms name=".SOMEAUTH"
              loginUrl="Login.aspx"
              protection="All"
              path="/Whatever"
              requireSSL="false"
              slidingExpiration="false"
              defaultUrl="Index.aspx"
              />
  </authentication>

  <httpRuntime targetFramework="4.6" />

  </system.web>

  <location path="PatientPanel.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="AdminPanel.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="BookAnAppointment.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="CancelAnAppointment.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="CRUD_GP.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="CRUD_Patient.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="CRUD_Appointment.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>

</configuration>